@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500&family=Public+Sans&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&family=Tektur&display=swap");

:root {
  --primary-color: #1d428a;
  --secundary-color: #fc4c02;
  --third-color: #5ec0d4;
  --primary-heading: #09192a;
  --paragraph-color: #020202;
  --background-color: #f8f8f8;
}
* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-family: "Public Sans", sans-serif;
  background-color: var(--background-color);
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-heading);
}

/* Header Style Here */

/* Top Nav Style */
.top-nav {
  width: 100%;
  padding: 10px 0px;
  position: absolute;
  border-bottom: 1px solid #1f56c493;
  z-index: 2;
}
.top-nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-nav-icon a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.top-nav-icon a:hover {
  color: var(--secundary-color);
}
.top-nav-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.top-nav-contact {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--secundary-color);
}
.call a {
  color: var(--background-color);
  transition: 0.4s;
  text-decoration: none;
}
.call a:hover {
  color: var(--secundary-color);
}
.top-nav-btn {
  color: white;
  width: 100px;
  height: 30px;
  background-color: var(--secundary-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  font-family: poppins;
  border-radius: 5px;
  transition: 0.4s;
}
.top-nav-btn:hover {
  color: var(--secundary-color);
  background-color: var(--primary-color);
}
@media screen and (max-width: 576px) {
  .top-nav {
    display: none;
  }
}
/* Top Nav Style */

/* Main Nav Start */
nav {
  margin-top: 50px;
}
.nav-link {
  margin-left: 30px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.nav-link:hover {
  color: var(--secundary-color) !important;
}
.active {
  color: var(--secundary-color) !important;
}
.sticky {
  position: fixed;
  top: 0 !important;
  width: 100%;
  margin-top: 0px !important;
  transition: 0.4s !important;
  background-color: var(--primary-heading);
}
.navbar-toggler {
  padding: 5px !important;
  text-align: center;
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}
@media screen and (max-width: 576px) {
  .navbar-brand img {
    width: 80px !important;
  }
  nav {
    margin-top: 0px !important;
  }
}
/* Main Nav End */






















/* Footer Style Here */
footer {
    padding: 50px 0px;
    background-color: var(--primary-heading);
    color: white;
  }
  footer a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
  }
  footer a:hover {
    color: var(--secundary-color);
  }
  .footer-top-contact i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--secundary-color);
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    margin-bottom: 10px;
  }
  .footer-top-contact a {
    font-size: 18px;
  }
  .footer-top-contact p {
    font-size: 18px;
  }
  .footer-top {
    border-bottom: 1px solid #1d418a54;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
  .footer-social-icon a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1d428a;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .footer-social-icon a:hover {
    background-color: var(--secundary-color);
    color: white;
  }
  .about {
    padding-left: 20px;
  }
  .about h5 {
    color: var(--secundary-color);
  }
  .about-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
  }
  .about-items a:hover {
    margin-left: 3px;
  }
  .newsletter h5 {
    color: var(--secundary-color);
    margin-bottom: 30px;
  }
  .sign-btn {
    background-color: var(--secundary-color);
    color: white;
    font-size: 14px;
  }
  .sign-btn:hover {
    background-color: var(--secundary-color);
  }
  .footer-input:focus {
    box-shadow: none;
  }
  .main-footer {
    border-bottom: 1px solid #1d418a54;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
  /* Footer Style End */
  
  /* Multiple Responsive */
  @media screen and (max-width: 576px) {
    .row {
      gap: 20px !important;
    }
  }
  @media screen and (min-width: 577px) and (max-width: 992px) {
    .row {
      gap: 20px !important;
    }
  }
  /* Multiple Responsive */
  