@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500&family=Public+Sans&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&family=Tektur&display=swap");

:root {
  --primary-color: #1d428a;
  --secundary-color: #fc4c02;
  --third-color: #5ec0d4;
  --primary-heading: #09192a;
  --paragraph-color: #020202;
  --background-color: #f8f8f8;
}
* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-family: "Public Sans", sans-serif;
  background-color: var(--background-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-heading);
}

/* Header Style Here */

/* Top Nav Style */
.top-nav {
  width: 100%;
  padding: 10px 0px;
  position: absolute;
  border-bottom: 1px solid #1f56c493;
  z-index: 2;
}
.top-nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-nav-icon a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.top-nav-icon a:hover {
  color: var(--secundary-color);
}
.top-nav-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.top-nav-contact {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--secundary-color);
}
.call a {
  color: var(--background-color);
  transition: 0.4s;
  text-decoration: none;
}
.call a:hover {
  color: var(--secundary-color);
}
.top-nav-btn {
  color: white;
  width: 100px;
  height: 30px;
  background-color: var(--secundary-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  font-family: poppins;
  border-radius: 5px;
  transition: 0.4s;
}
.top-nav-btn:hover {
  color: var(--secundary-color);
  background-color: var(--primary-color);
}
@media screen and (max-width: 576px) {
  .top-nav {
    display: none;
  }
}
/* Top Nav Style */

/* Main Nav Start */
nav {
  margin-top: 50px;
}
.nav-link {
  margin-left: 30px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.nav-link:hover {
  color: var(--secundary-color) !important;
}
.active {
  color: var(--secundary-color) !important;
}
.sticky {
  position: fixed;
  top: 0 !important;
  width: 100%;
  margin-top: 0px !important;
  transition: 0.4s !important;
  background-color: var(--primary-heading);
}
.navbar-toggler {
  padding: 5px !important;
  text-align: center;
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}
@media screen and (max-width: 576px) {
  .navbar-brand img {
    width: 80px !important;
  }
  nav {
    margin-top: 0px !important;
  }
}
/* Main Nav End */

/* Header Style End */

/* Hero Section Style Here */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.slide-1 {
  background-image: linear-gradient(
      to top,
      rgba(245, 246, 252, 0),
      rgba(39, 25, 36, 0.73)
    ),
    url("./images/slide\ 1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh !important;
  padding-top: 100px;
  text-align: center;
}
.slide-2 {
  background-image: linear-gradient(
      to top,
      rgba(245, 246, 252, 0),
      rgba(39, 25, 36, 0.73)
    ),
    url("./images/slide\ 2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh !important;
  padding-top: 100px;
  text-align: center;
}
.slide-3 {
  background-image: linear-gradient(
      to top,
      rgba(245, 246, 252, 0),
      rgba(39, 25, 36, 0.73)
    ),
    url("./images/slide\ 3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh !important;
  padding-top: 100px;
  text-align: center;
}
.hero .title {
  color: var(--background-color);
  font-weight: 700;
  font-family: poppins;
  margin-top: 130px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.hero-btn {
  display: flex;
  align-items: center !important;
  gap: 20px;
  justify-content: center;
}
.hero-btn a:nth-child(1) {
  text-decoration: none;
  color: var(--background-color);
  width: 120px;
  height: 30px;
  background-color: var(--secundary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.3s;
  border-radius: 5px;
}
.hero-btn a:nth-child(1):hover {
  color: var(--secundary-color);
  background-color: var(--background-color);
}
.hero-btn a:nth-child(3) {
  text-decoration: none;
  color: var(--secundary-color);
  width: 120px;
  height: 30px;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.3s;
  border-radius: 5px;
}
.hero-btn a:nth-child(3):hover {
  color: var(--background-color);
  background-color: var(--secundary-color);
}
.hero-btn .or {
  color: var(--background-color);
  font-style: italic;
}
@media screen and (max-width: 576px) {
  .slide-1,
  .slide-2,
  .slide-3 {
    height: 70vh !important;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .navbar-brand img {
    width: 120px;
  }
  .navbar-nav {
    align-items: center !important;
    margin-bottom: 0 !important;
  }
}
/* Hero Section Style End */

/* Service Section Style Here */
.service {
  margin-top: 30px;
  background-color: var(--background-color);
  padding-top: 30px;
}
.service-subtitle {
  color: var(--secundary-color);
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.service-title {
  color: var(--primary-heading);
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  font-family: poppins;
  line-height: 20px;
}
.card-img-body {
  position: relative;
  overflow: hidden;
}
.card-icon {
  position: absolute;
  bottom: 5px;
  left: 10px;
}
.card-icon-title {
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
  font-size: 18px;
}
.card-icon img {
  width: 50px;
}

.card-img-top {
  filter: contrast(150%);
  transition: 0.4s all;
}
.card-img-body:hover .card-img-top {
  scale: calc(1.2);
}
.read-more {
  text-decoration: none;
  font-size: 14px;
  color: #020202;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
  margin-top: 10px;
}
.read-more:hover {
  color: var(--secundary-color);
}
.hs-bottom-line {
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80px;
  height: 5px;
  background-color: var(--secundary-color);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.card:hover .hs-bottom-line {
  width: 100%;
}
.card {
  border: none !important;
  padding-bottom: 40px !important;
  background-color: var(--background-color) !important;
}
/* Service Section Style End */

/* Experience Section Style Here */
.experience {
  background-color: white;
  padding: 50px 0px;
}
.experience h2 {
  font-family: poppins;
  color: var(--primary-heading);
}
.experience p {
  font-family: open sans;
}
.role {
  margin-top: 30px;
}
.role p {
  display: flex;
  align-items: center;
  gap: 10px;
}
.role i {
  color: var(--secundary-color);
}
.package {
  width: 100%;
  height: fit-content;
  margin-top: 30px;
  padding: 10px 10px;
  border-right: 5px solid var(--secundary-color);
  box-shadow: 0 0 11px 0 rgba(6, 22, 58, 0.14);
}
/* Experience Section Style End */

/* Go Beyond Section Style Here  */
.beyond {
  padding: 50px 0px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(13, 15, 27, 0.64),
      rgba(5, 0, 14, 0.829)
    ),
    url("./images/byond\ bg.jpg");
  color: white;
}
.beyond h2 {
  font-family: poppins;
  margin-bottom: 10px;
}
.author {
  margin-top: 30px;
}
.author-img {
  width: 100px;
  height: 100px;
  border: 1px solid white;
}
.author-detail p {
  color: var(--secundary-color);
}
.sign {
  width: 200px;
  margin-top: 20px;
}
.sign img {
  width: 100%;
}
.service-item {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 15px 10px;
  background-color: var(--primary-color);
  margin-top: 20px;
}
.service-item img {
  width: 50px;
}
.service-item p {
  font-size: 14px;
  opacity: 0.6;
}
.video {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./images/video\ img.jpg");
  height: 300px;
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--secundary-color);
  opacity: 0.2;
  z-index: 1;
}
.video a {
  color: white;
  background-color: var(--secundary-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 3;
  position: relative;
  font-size: 25px;
}
.video a::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 1px solid var(--secundary-color);
  top: -15px;
  right: -15px;
  left: -15px;
  bottom: -15px;
  animation: pulse 3s linear infinite;
}
.video a::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 1px solid var(--secundary-color);
  top: -15px;
  right: -15px;
  left: -15px;
  bottom: -15px;
  animation: pulse 3.5s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.25);
    box-shadow: 0 0 0 0 var(--secundary-color);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.35);
    box-shadow: 0 0 0 0 var(--secundary-color);
  }
}
/* Go Beyond Section Style End  */

/* Team Section Style Here */
.team {
  padding: 50px 0px;
}
.team h2 {
  font-family: poppins;
}
.team-subtitle {
  color: var(--secundary-color);
  letter-spacing: 1px;
}
.team-member {
  width: 100%;
  z-index: 1;
  position: relative;
  border-bottom: 5px solid var(--secundary-color);
  padding-bottom: 20px;
}
.team-member img {
  width: 100%;
  position: relative;
  display: block;
}
.team-contact-icon {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 35px;
  left: -20px;
  opacity: 0;
  z-index: 10;
  transition: 0.4s all;
}
.team-member:hover .team-contact-icon {
  left: 15px;
  opacity: 1;
}
.team-contact-icon a {
  text-decoration: none;
  width: 30px;
  height: 30px;
  background-color: var(--secundary-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.team-contact-icon a:hover {
  background-color: var(--primary-color);
}
.team-member-detail {
  margin-top: 30px;
  text-align: center;
}
.team-member-detail h5 {
  font-weight: bold;
  text-transform: uppercase;
  font-family: poppins;
}
.team-member-detail p {
  font-size: 14px;
}
/* Team Section Style End */

/*  Delivery Section Style here */
.delivery {
  padding: 50px 0px;
  overflow-x: hidden;
}
.ws-img-left-layer {
  background-image: url("./images/delivery\ bg.jpg");
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0 0 11px 0 rgba(6, 22, 58, 0.14);
}
.ws-info-right-layer {
  height: 550px;
  box-shadow: 0 0 11px 0 rgba(6, 22, 58, 0.14);
  margin-top: 50px;
  margin-left: -100px;
  background-color: #fff;
  position: relative;
}
.right-content {
  padding-left: 60px;
  padding-top: 60px;
}
.right-subtitle{
    color: var(--secundary-color);
    letter-spacing: 1px;
    text-transform: uppercase;
}
.delivery-guarantee img{
    width: 50px;
}
.delivery-guarantee h5{
    margin-top: 10px;
    font-weight: bold;
}
/*  Delivery Section Style end */

/* Service Numbers Section Style Here */
.service-numbers{
    width: 100%;
    overflow-x: hidden;
   padding-top: 150px;
   padding-bottom: 50px;
    margin-top: -200px;
    background-color: var(--primary-color);
    color: white;
}
.service-number-item{
    margin-top: 60px;
    text-align: center;
}
.counter{
    font-size: 35px;
    font-weight: bold;
}
@media screen and (max-width:576px) {
    .service-numbers{
        margin-top: -0px;
        padding: 40px !important;
    }
    .ws-info-right-layer{
        height: auto;
        padding: 40px 0px !important;
        margin-left: -0px;
    }
}
@media screen and (min-width:577px) and (max-width:992px) {
    .ws-info-right-layer{
        height: auto;
        padding: 40px 0px !important;
        margin-left: -0px;
    }
}
/* Service Numbers Section Style End */
